@keyframes rotate {
    to {
      transform: rotate(405deg);
    }
  }
  .spin-home-loading {
    position: relative;
    height: 200px;
  }
  
  .spin-home-loading .spin-spinning {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .spin-home-loading .spin-spinning .spin-dot {
    position: relative;
    display: inline-block;
    font-size: 20px;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -10px;
  }
  
  .spin-home-loading .spin-spinning .spin-dot .spin-dot-item {
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    background-color: #1890ff;
    border-radius: 100%;
    transform: scale(0.75);
    transform-origin: 50% 50%;
    opacity: 0.3;
    animation: spinMove 1s infinite linear alternate;
  }
  
  .spin-home-loading .spin-spinning .spin-dot .spin-dot-item:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .spin-home-loading .spin-spinning .spin-dot .spin-dot-item:nth-child(2) {
    top: 0;
    right: 0;
    animation-delay: 0.4s;
  }
  
  .spin-home-loading .spin-spinning .spin-dot .spin-dot-item:nth-child(3) {
    right: 0;
    bottom: 0;
    animation-delay: 0.8s;
  }
  
  .spin-home-loading .spin-spinning .spin-dot .spin-dot-item:nth-child(4) {
    bottom: 0;
    left: 0;
    animation-delay: 1.2s;
  }
  
  .spin-dot-spin {
    animation: rotate 1.2s infinite linear;
  }
